<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TO DO LIST</h1>
    <div>
       <input class = "input" type="text" name="" id="" placeholder="Enter Task">
       <button class="submitButton">Submit</button>
       
    </div>
    <div class="taskContainer">${task.map(todos => ` <p>${todos.task}</p>`).join('')}</div>
    <input class="inputUpdateNumber" type="text" name="" id="" placeholder="Enter Task # To Update">
    <input class="inputUpdateTask" type="text" name="" id="" placeholder="Enter Update To Task">
    <button class="updateSubmitButton">Submit</button>
    <input class="deleteNumber" type="text" name="" id="" placeholder="Enter Task # to Delete">
    <button class="deleteButton">Submit</button>
</body>
<script src="../folder/script.js"></script>
</html>